*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {text-decoration: none; color: black;}

html,h1,h2,h3,h4,h5,h6,a{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #222222;
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.section-title{
    font-size: 36px;
    font-weight: 600;
    line-height: 2.2;
}
.section-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
}
.arrow{
    background-color: #ffffff;
    min-width: 40px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: rgb(119, 119, 119);
    border-radius: 20px;
    border: 1px solid rgb(238, 238, 238);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 230px;
    cursor: default;
}
.arrow:hover{
    background: linear-gradient(to left, rgb(252, 115, 58), rgb(242, 34, 123));
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(238, 238, 238);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 230px;
}
.checkbox{
    padding-right: 15px;
}
/*Container*/
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
/*button*/
.button{
    border: none;
    color: #222222;
    background-color: #ffffff;
    padding:  9.5px 30px;
    border-radius:  35px;
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(122,122,122);
    font-family: 'Roboto', sans-serif;
    width: 192px;
}
.button:hover{
    box-shadow: 0 0 10px rgba(122,122,122);
}
.button:active{
    background-color: rgb(245, 245, 247);
}
.button, .button:active, .button:focus { outline: none; }
.package__button, .package__button:active, .package__button:focus { outline: none; }
/*Intro*/
.intro{
    background: 
    url("../public/introBackground.jpg") center no-repeat;
    background-size: cover;
    padding-top: 30px;
    color: #ffffff;
    position: relative
}

/*intro-header*/
.intro-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.intro-header__logo-header{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
}
.intro-header__logo-image{
    height: 40px;
}
.intro-header__logo-container{
    display: flex;
    height: 40px;
}
.intro-header__navigation a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    padding:  0 30px;
    display: flex;
    align-items: center;
    height: 35px;
}
.intro-header__navigation a:hover{
    color: #222222;
    background-color: #ffffff;
    border-radius:  35px;
    text-decoration: none;
}
.intro-header__navigation a:active{
    box-shadow: 0 0 10px rgba(122,122,122);
}

/*intro-content*/
.intro-content{
    height: 730px;
}
.intro-content__title{
    font-size: 54px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.intro-content__description{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.intro-content__list li{
    padding-bottom: 10px;
    font-weight: 400px;
}
.intro-content__list svg{
    margin-right: 20px;
}
.intro-content ul li:last-child{
    padding-bottom: 43px;
}

/*properties*/


.properties__itеms{
    height: 130px;
}
.properties-itеms__container{
    border-bottom: 2px solid rgb(238, 238, 238);
    height: 462px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.properties__itеm--title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
}
.properties__itеm--content{
    font-weight: 300;
}

.properties__itеm--icon{
    min-width: 75px;
    height: 75px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

/*prime-reason*/
.prime-reason{
    height: 711px;
    background: url("../public/primeReasonBackground.jpg") center no-repeat;
    background-size: cover;
}

.prime-reason__content{
    max-width: 555px;
    margin-left: 585px;
}
.prime-reason__description{
    padding-bottom: 70px;
}
.prime-reason__list{
    padding-top: 30px;
}
.prime-reason__list svg{
    margin-right: 20px;
}
.prime-reason__list li{
    padding-bottom: 10px;
    font-weight: 400px;
}

/*screenshots*/
.screenshots{
    height: 917px;
    background-color: rgb(247, 250, 252);
    background-size: cover;
}
.screenshots__container{
    height: 917px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screenshots__content{
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*slider-container*/
.slider-container{
    height: 564px;
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


/*packages*/
.packages{
    height: 900px;
    background-color:#ffffff; 

}
.package{
    height: 481px;
    background-color: rgb(247, 250, 252);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.packages__content{
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.packages__conteiner{
    height: 620px;
}

.package:hover{
    background-color:#ffffff; 
    box-shadow: 0 0 20px rgba(122,122,122, 0.2);
}

.package:hover .package__cost{
    background: url("../public/costActiveBacground.png") center no-repeat;
    background-size: cover;
}

.package:hover .package__button{
    background: linear-gradient(to left, rgb(252, 115, 58), rgb(242, 34, 123));
    color: rgb(247, 250, 252);
}
.package:hover .package__button a{
    color: rgb(247, 250, 252);
}
.package:last-child{
    margin-right: 0px;
}

.package__title{
    font-size: 20px;
    padding-top: 16px;
}
.package__cost{
    font-family: 'Dosis', sans-serif;
    height: 120px;
    background: url("../public/costBacground.png") center no-repeat;
    background-size: cover;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    padding-top: 16px;
}
.package__cost--small{
    font-size: 18px;
}


.package__cost:hover {
    height: 120px;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
}
.package__button{
    border: 1px solid rgba(238,238,238);
    border-radius:  35px;
    font-weight: 500;
    width: 137px;
    height: 38px;
    padding-top: 6px;
    margin-bottom: 40px;
    margin-top: 5px;
}

.package__button:active{
    border: 1px solid rgba(122,122,122);
    box-shadow: 0 0 10px rgba(122,122,122);
}


.button__container{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.package__description{
    align-self: stretch;
    padding-left: 27px;
    padding-right: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.package__description li{

    height: 35px;
    border-bottom:  1px dashed rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.package__description li:last-child{
    border-bottom: 0px;
}
/*video*/
.video{
    width: 100%;
    height: 400px;
    background: 
    url("../public/videoBackground.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



/*reviews*/

.reviews__content{
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.reviews{
    height: 690px;
}
.reviews .slider-container{
    height: 273px;
}
.reviews .arrow{
    margin-top: auto;
    margin-bottom: auto;
}

.reviewer{
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(247, 250, 252);
}
.reviewer:hover{
    background-color:#ffffff; 
    box-shadow: 0 0 20px rgba(122,122,122, 0.2);
}
.reviewer-name{
    font-size: 18px;
}
.reviewer-account{
    display: flex;
    justify-content: left;
    align-items: center;
}
.reviewer-account img{
    padding-right: 20px;
}

/*download*/

.download{
    height: 470px;
    background: linear-gradient(to right, rgb(252, 115, 58), rgb(242, 34, 123));
    color: #ffffff;
}
.download__content{
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}


.download-store{
    background-color: #ffffff;
    color: #222222;
    display: flex;
}
.download-store__description{
    padding-left: 20px;    
display: flex;
flex-direction: column;
justify-content: center;
}

.download__title{
    line-height: 1.6;
    font-size: 30px;
    font-weight: 600;
}
/*footer*/
footer{
    height: 180px;
    background-color:rgb(34,34,34);
    color: #ffffff;
}
.contacts{
    width: 165px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.footer__content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}